



   <div class="row">
         <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid header-parent">  
                <div class="row">
                    <div class="col-md-11 col-sm-11 col-lg-11">
                            <span class="navbar-text navbar-left">
                                Manage Polocies
                            </span>                                                    
                            <span class="navbar-text navbar-right">
                                <a [routerLink]="['Home']" class="navbar-link">Espanol</a>
                                <a  [routerLink]="['Contact']" class="navbar-link">Contact us</a>
                                <a href="#" class="navbar-link">800-334-0090</a>
                            </span> 
                        </div>
                        <div class="col-md-1 col-sm-1 col-lg-1">
                            <span class="logout-span">Log Out</span> 
                        </div>
                </div>                
            </div>
            
        </nav>
    </div>