



   <div class="row">
         <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container display-inline-block">  
                <span class="navbar-text navbar-left">
                    Manage Polocies
                </span>
                
               
                <span class="navbar-text navbar-right">
                    <a [routerLink]="['Home']" class="navbar-link">Espanol</a>
                    <a  [routerLink]="['Contact']" class="navbar-link">Contact us</a>
                    <a href="#" class="navbar-link">800-334-0090</a>
                </span> 
            </div>
            <div class="display-inline-block">
                <span>Log Out</span> 
            </div>
        </nav>
    </div>