
  <div class="col-md-5 inner-row-col">
                
                    <div class="col-header">
                     <label class="col-header-label">Claims
                     </label>
                     </div>
             
                <div class="row col-body col-body-content-feed white-background col-body-content">
                    <div class="col-md-4" >
                        <div class="row claims-child claim-number" >
                            
                                1
                            
                        </div>
                        <div class="row active-claims">
                           
                                Active claim(s)
                          
                        </div>
                    </div>
                    <div class="col-md-4" >
                            <hr class="claims-border">
                        <div class="row claims-child" >
                            
                                800-334-0090
                          
                        </div>
                        <div class="row claims-sub-child" >
                          
                                Call 24/7 to report a claim
                        
                        </div>
                    </div>
                    <div class="col-md-4" >
                        <hr class="claims-border">
                        <div class="row  claims-child" >
                            
                                Online
                        
                        </div>
                        <div class="row  claims-sub-child" >
                           
                                Submit a claim online
                         
                        </div>
                    </div>
                </div>
            </div>