
  <div class="col-md-5 inner-row-col">
                
                    <div class="col-header">
                     <label class="col-header-label">Claims
                     </label>
                     </div>
             
                <div class="row col-body col-body-content-feed white-background col-body-content">
                    <div class="col-md-4">
                        <div class="row">
                            <span>
                                1
                            </span>
                        </div>
                        <div class="row">
                            <span>
                                Active claim(s)
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <span>
                                800-334-0090
                            </span>
                        </div>
                        <div class="row">
                            <span>
                                Call 24/7 to report a claim
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <span>
                                Online
                            </span>
                        </div>
                        <div class="row">
                            <span>
                                Submit a claim online
                            </span>
                        </div>
                    </div>
                </div>
            </div>