
<div class="col-md-5 inner-row-col">
                <div class="col-header">
                     <label class="col-header-label">
                         Get ID Cards
                     </label>
                     </div>
                <div class="row border-top white-background">
                    <span>
                        Select a card to download
                    </span>
                </div>
                <div class="row white-background col-body-content">
                    <div class="col-md-6">
                        <p>Auto ID Card</p>
                        <p>Issued : 07/05/2015</p>
                    </div>
                    <div class="col-md-6">
                        <p>Cycle ID Card</p>
                        <p>Issued: 07/05/2015</p>
                    </div>
                </div>
                <div class="row col-footer white-background">
                    <label>VIEW ALL</label>
                </div>
            </div>  