
<ul class="side-nav">
           <li>
               <span>
                   Welcome
               </span>
          </li>
           <li>
               John Belman
           </li>
           <li>
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
               <a [routerLink]="['Home']">Home</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
               <a [routerLink]="['Home']">Billing</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
               <a [routerLink]="['Home']">Policies</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
               <a [routerLink]="['Home']">Claims</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
               <a [routerLink]="['Home']">Contact</a>
           </li>
           <li>
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <a [routerLink]="['Home']">Settings</a>
           </li>
       </ul>
