/* Varialble*/
$comp-background:#fff;
$borderColor:black;
$homebackground : gray;
$compFooterBorder: blue;
.item-bottom-border{
   border-bottom:1px solid $borderColor;
       padding: 1%;
    margin: 0;
}
.display-inline-block{
    display: inline-block;
}
.logout-span{
    margin: 15px;
    display: block;
}
.float-right{
    float:right
}
.list-style{
    list-style: none;
}
.custom-row{
     margin:1% 0;
     padding:1% 0;     
}
.white-background{
    background: $comp-background;
}
.header-parent{
    @extend .display-inline-block;
    width: 100%;
}
.side-nav-parent{
    @extend .white-background;
    height: 100em;    
}
.side-nav{
    @extend .white-background;
    padding: 0;
    list-style: none;
    li{
        padding:5%;
        margin: 5%;
        font-size: 1.5em;        
    }
}
.label-padding{
    padding:2%;
}
.notice-padding{
    padding: 0 2%;
}
.border-top{
    border-top:2px solid $borderColor;
}
.inner-row{
    @extend .border-top; 
    margin:0;
}
.inner-row-col{
    margin: 1% 0.5%;
    width: 49%;
}
.inner-row-col-1{
    @extend .border-top;
    margin: 1%;
}
.col-header-label{
    font-size: 1.5em;
}
.col-body{
    @extend .border-top;
    padding-top: 5%;          
}
.col-body-content{
    height: 15em;
}
.col-body-content-feed{
  height: 20.7em;
}
.col-footer{
    border-top:1px solid $compFooterBorder;
    text-align: center;
     padding: 2.3%;
}
.page-content{
    margin-top: 4%;    
    background: $homebackground;
}
.col-header{
    margin-left: -15px;
}
.feed-col-2{
  padding:1% 0;
  ul {
    border-left: 1px solid $homebackground;
  }
}
.claims-child{
    margin-top:30%; 
    padding:0 30%;
}
.claims-sub-child{
    @extend .claims-child;
    color:#B8B3B3
}
.active-claims{
    margin-top:14%; 
    padding:0 30%;
    color:#B8B3B3
}

.card{
    background-color: #F8F8F8;
    padding: 14%;
}
.card-parent{
    padding: 9%;
}

.claim-number{
    font-size: 47px;
}
.claims-border{
    position: absolute;
    top: 45%;   
    height: 35%;
    margin: 0px;
    border: 1px solid #CBCACA !important;
    border-top: 0px;
}