  <!--ROW #1-->
        <div class="row custom-row white-background label-padding" >
            <label>
                    join millions of the policy owners who are managing their accounts
            </label>
        </div>
        <!--ROW #2-->
        <div class="row custom-row white-background" >
            <div class="notice-padding">
                <label>
                    NOTICE
                </label>
            </div>
            <div class="notice-padding">
                <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                </label>
            </div>
            <div class="notice-padding">
                <label class="float-right">
                    UPDATE PROFILE
                </label>
            </div>
        </div>
        <!--ROPW #3-->
        <div class="row custom-row">
            <!--<div style=""> Payments</div>
            <div class="row inner-row white-background" >                -->
                <payment></payment>               
            <!--</div>
            <div class="col-footer white-background">
                <label>* Recent policy changes may not be reflected in the amount due.Recent policy changes may not be reflected in the amount due.</label>
            </div>            -->
        </div>
        <!--ROW #4-->
        <div class="row custom-row" >
            <!--claims-->
            <claims></claims>
            <!--Get ID Cards-->
            <cards></cards>          
        </div>
        <!--ROW #5-->
        <div class="row custom-row" >
            <!--Need Help-->
            <needhelp></needhelp>
           
            <!--Dairyland feed-->
            <dairy-feed></dairy-feed>
        </div>